.App {
  text-align: center;
  background-image: url('https://hdqwalls.com/download/2017-smurfs-the-lost-village-img-2048x1152.jpg');
  height: 97.6vh;
}

.overlay {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 49%,
    rgba(57, 146, 230, 1) 100%
  );
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
